@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.data-table {
    width: 100%;
    background-color: transparent;
    border-radius: $radius-lg;
    overflow: hidden;

    .MuiDataGrid-root {
        width: 100% !important;
    }

    .MuiDataGrid-virtualScroller {
        @include scrollbar;
    }

    @include respond-to('md') {
        .MuiDataGrid-columnHeaderTitle {
            font-size: 0.75rem;
        }

        .MuiDataGrid-cell {
            font-size: 0.75rem;
        }
    }
}