@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.employment-status-chip {
    font-weight: 500;
    border-radius: 16px;

    .MuiChip-label {
        padding: 0 $spacing-md;
    }
}