@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.filter-bar {
    @include flex-between;
    gap: $spacing-md;
    flex-wrap: wrap;

    &__filters {
        display: flex;
        gap: $spacing-md;
        flex-wrap: wrap;
        align-items: flex-end;
    }

    &__actions {
        display: flex;
        gap: $spacing-sm;
    }
}