@use '../../styles/variables' as *;

.main-layout {
    min-height: 100vh;
    background-color: var(--background);
    display: flex;

    &__content {
        flex: 1;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin-left: var(--sidebar-width, $sidebar-width);
        transition: margin-left $transition-base;
        width: calc(100% - var(--sidebar-width, $sidebar-width));

        &--expanded {
            margin-left: var(--sidebar-width, $sidebar-collapsed-width);
            width: calc(100% - var(--sidebar-width, $sidebar-collapsed-width));
        }
    }

    &__main {
        flex: 1;
        padding: $spacing-xl;
        margin-top: $topbar-height;
    }
}