@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.transactions-menu {
    color: var(--text-primary);

    &__header-actions {
        display: flex;
        align-items: center;
        gap: $spacing-sm;
        flex-wrap: wrap;
    }

    &__date-filter-container {
        margin-bottom: $spacing-md;
    }

    &__grid-card {
        margin-bottom: $spacing-xl;

        &:last-child {
            margin-bottom: 0;
        }

        
    }
}