@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.filter-panel {
    background-color: var(--surface);
    border-radius: $radius-md;
    padding: $spacing-md;
    margin-bottom: $spacing-lg;

    >* {
        min-width: 180px;
        max-width: 100%;
    }

    .input-wrapper,
    .select-wrapper {
        width: 100%;
        min-width: 180px;
        max-width: 100%;
    }

    @include respond-to('sm') {
        padding: $spacing-sm;
        
        >* {
            min-width: 100%;
        }
    }
}